<div class="max-w-7xl justify-center items-center mx-auto">
  <div class="table-title">
    <div class="mb-2 flex justify-between">
      <h2 class="text-bold text-3xl">Manage Contacts</h2>
      <div class="p-2 space-x-2 text-white flex">
        <div id="view" class="e-btn-group space-x-2 flex cursor-pointer">
          <div class="bg-blue-500 rounded-md p-2 text-white">
            <input type="radio" id="left" name="align" value="1" (click)="changeDisplay(1)" />
            <label class="e-btn" for="left">Grid View</label>
          </div>
          <div class="bg-orange-500 rounded-md p-2 text-black">
            <input type="radio" id="right" name="align" value="2" (click)="changeDisplay(2)" />
            <label class="e-btn" for="right">List View</label>
          </div>
        </div>


        <button
          class="bg-blue-500 justify-center flex rounded-md p-2 space-x-1"
          (click)="openAddEditContactForm(null)"
        >
          <i class="material-icons">&#xE147;</i>
          <span>New Contact</span>
      </button>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="filter contacts"
        #input
      />
    </mat-form-field>

    <!-- Add ngIf to check if contacts$ is defined -->

    <ng-container
      *ngIf="appState$ | async as appState"
      [ngSwitch]="appState.dataState"
    >
      <ng-container *ngSwitchCase="DataState.LOADING_STATE">
        <div class="col-md-12 single-note-item text-center">
          <div class="spinner-border text-info" role="status"></div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DataState.LOADED_STATE">
        <!-- Mat-Table Section -->
        <div class="mat-elevation-z8" class="row" *ngIf="display === 1;else list_content">
          <table mat-table [dataSource]="dataSource$" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                First Name
              </th>
              <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
            </ng-container>

            <!-- lastName Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Last Name
              </th>
              <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <!-- phoneNumber Column -->
            <ng-container matColumnDef="phoneNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                PhoneNumber
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.phoneNumber }}
              </td>
            </ng-container>

            <!-- address Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
              <td mat-cell *matCellDef="let row">{{ row.address }}</td>
            </ng-container>

            <!-- username Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Username
              </th>
              <td mat-cell *matCellDef="let row">{{ row.username }}</td>
            </ng-container>

            <!-- actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let row">
                <div class="space-x-2 cursor-pointer">
                  <i class="fa fa-trash" aria-hidden="true" (click)="deleteContact(row.id)"></i>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="openAddEditContactForm(row)"></i>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>


        <ng-template #list_content>
          <!-- List View Content as Bootstrap Cards -->
          <div class="grid grid-cols-4 gap-4">
            <div class="card bg-white p-3 rounded-lg" *ngFor="let contact of appState.appData.data.contacts">
              <div class="flex flex-col justify-center">
                <h5 class="text-2xl text-center">{{ contact.firstName }} {{ contact.lastName }}</h5>
                <p class="text-gray-400 text-center">{{ contact.email }}</p>
                <p class="text-1xl text-center">{{ contact.username }}</p>
                <!-- <div class="flex space-x-1 cursor-pointer">
                  <i class="fa fa-trash" aria-hidden="true" (click)="deleteContact(contact)"></i>
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div> -->
              </div>
            </div>
          </div>

        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="DataState.ERROR_STATE">
        <div class="alert-danger">
          {{ appState.error }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
